[submodule "osl"]
	path = osl
	url = https://github.com/periscop/openscop.git
[submodule "candl"]
	path = candl
	url = https://github.com/periscop/candl.git
[submodule "clan"]
	path = clan
	url = https://github.com/periscop/clan.git
[submodule "cloog"]
	path = cloog
	url = https://github.com/periscop/cloog.git
